.abtBox {
        margin: 5px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: x-large;
        color: #fffffc;
}

.abtHead {
        margin: 5px;
        padding: 5px;
        border: solid black 5px;
        /* display: flex; */
        /* justify-content: center; */
        text-align: center;
        background: #1F51FF;      
}

.abtCont {
        margin: 5px;
        padding: 5px;
        border: solid black 5px;
        display: flex;
        justify-content: space-between;
}

.abtRightText {
        margin: 5px;
        padding: 100px;
        border: solid black 5px;
        /* background: #1F51FF; */
        text-align: right;
        /* width: 500px; */
}

.abtLeftText {
        margin: 5px;
        padding: 100px;
        border: solid black 5px;
        /* background: #1F51FF; */
        text-align: left;
        /* width: 500px; */
}
