.myBox {
    margin: 5px;
    padding: 5px;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    color: #fffffc;
}

.myHead {
    margin: 5px;
    padding: 5px;
    border: solid black 5px;
    text-align: center;
    background: #1F51FF; 
}

.myData {
    margin: 5px;
    padding: 50px;
    display: flex;
    border: solid black 5px;
    width: 1200px;
}

.myText {
    margin: 40px;
    padding: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    background: #1F51FF;
}