.navFootBody {
    bottom: 1em; 
    position: relative;
    width: 98%;
    background: #1F51FF;
    border: solid black 0.1875em;
    display: flex;
    justify-content: space-evenly

}

.bttnStyle {
    border: solid black 0.1875em;
    background-color: #1F51FF;
    color: #fffffc;
    font-size: 1.2em;
}

.bttnStyle:hover {
    color: black;
    background-color: #ffff00;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .navFootBody {
      width:  58em;
    }
  }